
import packageData from '../package.json'

var appsettings = {
    appTitle: packageData.name,
    appVersion: packageData.version,
    appDependencies: packageData.dependencies,
    appRepository: "https://github.com/lgedgar/quality-control",
    appMaintainer: 'edbob',
};

export default appsettings;
